[submodule "task-manager"]
	path = task-manager
	url = https://github.com/truongkimson/task-manager
[submodule "task-manager-client"]
	path = task-manager-client
	url = https://github.com/truongkimson/task-manager-client
